.App {
  background: url('./images/bg.png') no-repeat;
  background-size: contain;
  margin: 20px auto 0;
  height: 700px;
  position: relative;
  width: 1600px;
}

.dots {
  width: 20px;
  position: absolute;
  top: 27px;
  left: 967px;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
}

.dots span {
  background: white;
  border-radius: 100%;
  display: block;
  height: 3px;
  width: 3px;
  margin-bottom: 1px;
}

.panel {
  background: white;
  box-sizing: border-box;
  border-radius: 5px;
  width: 520px;
  position: absolute;
  left: 996px;
  top: 20px;
  padding: 20px;
}

.panel.visualise-mode {
  width: 360px;
}

.panel h1 {
  color: #4a4a4a;
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
}

.panel textarea {
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #D9D9D9;
  color: #888888;
  padding: 10px;
  font-size: 14px;
  height: 300px;
  resize: none;
  width: 100%;
}

.actions {
  text-align: right;
  margin-top: 10px;
}

.actions button {
  margin-left: 10px;
}

.actions img {
  margin-right: 20px;
}

.greenButton {
  background-color: #80B636;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 25px;
}

.info {
  font-size: 12px;
  margin-bottom: 10px;
}

.frame {
  background: url('./images/empty-frame.png');
  background-size: contain;
  position: absolute;
  top: 15px;
  left: 794px;
  height: 193px;
  width: 192px;
}

.frame.db {
  background: url('./images/db-icon-frame.png');
  background-size: contain;
}

.frame.number-frame {
  background: url('./images/number-frame.png');
  background-size: contain;
}

.frame.line-frame {
  background: url('./images/line-chart-frame.png');
  background-size: contain;
}

textarea.locked {
  background-color: #888888;
  color: #D9D9D9;
}

.hidden {
  display: none;
}

.addButton {
  background: none;
  border: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
  position: absolute;
  left: 76px;
  top: 75px;
}

.config {
  background: url('./images/config.png');
  background-size: contain;
  height: 320px;
  position: relative;
}

.number, .line {
  background: none;
  border: 0;
  position: absolute;
  width: 35px;
  height: 32px;
  outline: none;
  cursor: pointer;
}

.number {
  top: 67px;
  left: 8px;
}

.line {
  top: 67px;
  left: 92px;
}

.show-results {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.results-table {
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

.results-table thead td {
  background: grey;
  color: white;
  box-sizing: border-box;
  padding: 10px;
}

.results-table tbody td {
  background: rgb(240, 240, 240);
  padding: 10px;
}